In [2]:
import pandas as pd

In [ ]:
ipl = pd.read_csv('dataframes/ipl-matches.csv')
ipl.head(3)

In [ ]:
ipl.info()

In [ ]:
ipl.describe()

In [ ]:
ipl[['Team1Players','Team2Players']]

In [ ]:
ipl.loc[5,'City']

In [ ]:
ipl.iloc[3,4]

In [ ]:
ipl['Margin'].mean()

In [ ]:
ipl['Team1Players'].str.split(',')

In [ ]:
ipl.groupby('City')['WinningTeam'].count()

In [ ]:
ipl.head(1)

In [ ]:
ipl[ipl['WonBy']=='Wickets']

In [ ]:
ipl['Margin'].sum()

In [ ]:
ipl.sort_values(by='MatchNumber')

In [ ]:
ipl.sort_index(axis=1)

In [ ]:
ipl[ipl['Team1'].str.contains('Royal Challengers Bangalore')].head(3)

In [ ]:
pd.to_datetime('2022-05-08')

In [ ]:
pd.to_datetime(ipl['Date'])

In [ ]:
type(pd.to_datetime(ipl['Date']))

In [21]:
ipl.fillna({'City':'Pune','Margin':5.0,},inplace=True)

In [ ]:
ipl.info()

In [ ]:
ipl.iloc[5:8,0:4]

In [ ]:
ipl.loc[5:8,'ID':'Season']

In [ ]:
ipl['Margin'].sum()